@page "/quiz"


@foreach (var question in Questions)
{
    <section class="question" id="question-@question.Number">
        <h2 class="question-ask">@question.Ask</h2>

        <section class="quiz-anwser-container">
            <a class="button button-quiz"
               onclick="document.getElementById('question-@(question.Number+1)').scrollIntoView({behavior:'smooth'})">
                <i class="far fa-info-circle" title="@question.AnswerAHint"></i>
                @question.AnswerA
            </a>
            <a class="button button-quiz"
               onclick="document.getElementById('question-@(question.Number+1)').scrollIntoView({behavior:'smooth'})">
                <i class="far fa-info-circle" title="@question.AnswerBHint"></i>
                @question.AnswerB
            </a>
        </section>

        <p>Question @question.Number of @Questions.Count</p>
    </section>

    <br />
    <br />
}

<nav class="page-actions">
    <a class="button" href="info">Back</a>
    <a class="button" href="certificate">View Certifications</a>
</nav>

@code {
    private class Question
    {
        public int Number { get; set; }
        public string Ask { get; set; }
        public string AnswerA { get; set; }
        public string AnswerB { get; set; }
        public string AnswerAHint { get; set; }
        public string AnswerBHint { get; set; }

        public Question()
        {

        }
    }

    private List<Question> Questions = new List<Question>() {
        new Question()
        {
            Number = 1,
            Ask = "I want to...",
            AnswerA = "Apply for a new certificate",
            AnswerAHint = "Choose this if you do not currently have certification to work on a commercial vessel",
            AnswerB = "Renew an existing certificate",
            AnswerBHint = "Choose this if you have previously had certification to work on a commercial vessel",
        },
        new Question()
        {
            Number = 2,
            Ask = "I want information regarding...",
            AnswerA = "Domestic",
            AnswerAHint = "Choose this if you need a certification to work in domestic waters",
            AnswerB = "International",
            AnswerBHint = "Chose this if you need a certification to work in international waters",
        },
        new Question()
        {
            Number = 3,
            Ask = "I want information regarding...",
            AnswerA = "Nautical",
            AnswerAHint = "Choose this if your work involves navigation, cargo operation, or ship maintenance",
            AnswerB = "Engineering",
            AnswerBHint = "Choose this if your work involves operation and maintenance of ship machinery",
        },
    };
}
